<h1 id="welcome-banner" class="text-center">Welcome to Quest Builder, a web application that puts you right in the middle of the story. You will make crucial decisions each step along the way that effect the way the story unfolds and ultimately determines whether or not you complete your quest! Here is how to get started:</h1>

<div class="small-12 medium-4 columns">
  <div class="callout">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
</div>
