<p class="form-title">Create your character and then send them on a quest!</p>

<form action="/users/:user_id/characters" method="post">
  <div class="row">
    <div class="large-4 columns">
      <label>Name
        <input type="text" name="name" placeholder="Name" required/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label>Age
        <input type="text" name="age" placeholder="Age" required/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label>Eye Color
        <input type="text" name="eye_color" placeholder="Eye Color" required/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label>Hair Color
        <input type="text" name="hair_color" placeholder="Hair Color" required/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <div class="row collapse">
      <label>Height</label>
        <select name="height" required>
          <% @height_options.each do |height| %>
            <option value=<%= "#{height}" %> > <%= height %> </option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <div class="row collapse">
        <label>Weight</label>
        <div class="small-9 columns">
          <select name="weight">
            <% @weight_options.each do |weight| %>
              <% weight.to_s %>
              <option value=<%= "#{weight}" %> > <%= weight %> </option>
            <% end %>
          </select>
        </div>
        <div class="small-3 columns">
          <span class="postfix">pounds</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <label>Gender (optional)</label>
      <input type="radio" name="gender" value="male" id="male"><label for="male">Male</label>
      <input type="radio" name="gender" value="female" id="female"><label for="female">Female</label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Background Story (optional)
        <textarea placeholder="small-12.columns"></textarea>
      </label>
    </div>
  <input type="submit" value="Create Character">
</form>
